<component name="ArtifactManager">
  <artifact type="exploded-ear" name="springboot-007-jsp:ear exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springboot_007_jsp_ear_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springboot-007-jsp/javaeeApplication/javaEEApplication" />
    </root>
  </artifact>
</component>